@tailwind base;
@tailwind components;
@tailwind utilities;
/* body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  /* Background image */
  /* background-image: url('\bg.png'); /* Path relative to public folder */
  /* background-size: cover;           Make it cover the full screen
  background-position: center;      Center the image
  background-repeat: no-repeat;     Prevent tiling
  height: 100vh;                    Full screen height
}  */
